<html xmlns:th="http://www.thymeleafe.org">
	<body>
		
		<p th:text="${msg}"></p>
		
		<table border="1">
			
			<tr>
				<td>ID</td>
				<td>Title</td>
				<td>CP</td>
				<td>Professor name</td>
				<td>Professor surname</td>
			</tr>
			
			<tr>
				<td th:text="${mydata.getIdc()}" ></td>
				<td th:text="${mydata..getTitle()}" ></td>
				<td th:text="${mydata..getCreditPoints()}" ></td>
				<td th:text="${mydata..getProfessor().getName()}" ></td>
				<td th:text="${mydata.getProfessor().getSurname()}" ></td>
			</tr>
		</table>
		
	</body>
</html>